---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

// Mixins
@import "components/mixins";

// Variables
@import "components/variables";

// Reset
@import "components/normalize";

// Components
@import "components/global";
@import "components/helpers";
@import "components/grid";
@import "components/typography";
@import "components/buttons";
@import "components/syntax-highlighting";

// Pages styling
@import "pages/layout";
@import "pages/tags";
@import "pages/archive";
@import "pages/post";

// Custom appearance mods - JG
$dropbar:          #fbfbfa;
$dropbarback:      #fbfbfa;

details {
	font: 16px "Open Sans", Calibri, sans-serif;
}

details > summary {
  padding: 6px 6px;
  background-color: $dropbar; //#fbf7f9;
  border: none;
  cursor: pointer;
}
details > p {
  border-radius: 0 0 20px 20px;
  background-color: darken($dropbarback, 2%); // #F6ECF2;
  padding: 2px 6px;
  margin: 4px 4px 4px 4px;
}

//Text selection colors
::selection {
  background: darken(#f1faee, 10%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: darken(#f1faee, 10%); /* Gecko Browsers */
}

/* unvisited link */
a:link {
  color: darken(#e63946, 4%);
}

/* visited link */
a:visited {
  color: darken(#a8dadc, 44%)
}

/* mouse over link */
a:hover {
  color: darken(#e63946, 10%);
}

/* selected link */
a:active {
  color: #f77f00;
}
