<h1><span data-i18n="skills.my_skills">Welcome to my website!</span></h1>

<div> 
	I am a bioinformatics researcher with over 7 years of experience in bioinformatics data analysis and cancer research. My background is in molecular biology and computing science. In my PhD I got to combine these two interests, and worked alongside some amazing researchers at the BC Cancer Agency to develop and validate machine learning methods for automated analysis of advanced cancers.  <br><br>
	I enjoy interdisciplinary research, particularly one that involves oncology, algorithms, and ideally, beer enthusiasts! My graduate school years also gave me new perspectives on data visualization, software development, and science policy. While I suspect my immediate research endeavours may not lead me down these paths, I am always on the look out for ways to engage with others on these themes. So if you are here and thinking about offering me a job, let me know if any of these ideas peek your interest too!   
	<br><br>Since you've most likely ended up here due to some expert snooping, here are some additional interests of mine. Besides the coding, paper reading, and watching paint dry, I keep myself busy with science outreach and writing, gardening, and finessing my culinary skills. The pandemic has also given me incentive to spend some quality time reading literature that would otherwise gather dust on my bookshelf.  

<br><br> <i>Resume available upon request. </i>
<br><br>
<!-- A concise CV of mine can be <a href="https://jasgrewal.github.io/cv_jg/">found here</a> -->  

