<h1><span data-i18n="skills.my_skills">What keeps me busy</span></h1>

{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col">
                <h2 style="margin: 0">{{ project.name }}</h2>
                <p style="margin: 0">{{ project.descr }}</p>
		<details>
			<summary>{{ project.detailtitle }}</summary>
			<p style="margin: 0">{{ project.detaildescr }}</p>
		</details>
                {% if project.github %}
                <a href="{{ project.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if project.website %}
                <a href="{{ project.website }} "><i class="fa fa-fw fa-home"></i>Homepage</a>
                {% endif %}
            <span style="display:inline-block; width: 60;"></span>
	    </div>
    </div>
{% endfor %}
